.footer {
    padding-top: 2rem;
    background-color: #2C2C76;
    padding-bottom: 1rem;
    .row {
        color: white;

        .customer_support {
            margin-top: 1.5rem;
        }
        h4 {
            margin-bottom: 0px!important;
        }

    }
    
}




