.main-image-div {
  background: url("./../../public/Assets/Images/dashboard/beach.jpg");
  height: 575px;
  background-size: cover;

  .main-txt {
    padding-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;

    h3 {
      font-size: 4rem;
    }

    p {
      font-size: 2rem;
    }
  }
}

.search_section {
  margin-top: -80px;
  z-index: 2;

  .search-area {
    background-color: #ececf2;
    height: 140px;
    padding: 30px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    .row {
      align-items: flex-end;
      justify-content: space-between;
      width: 95%;

      input {
        border: 2px solid rgb(102, 102, 102);
        background-color: #ececf200;
      }
    }

    .range-picker-input {
      display: inline-flex;
      width: 100%;
      border: none;

      .picker-input__text {
        padding-left: 10px;
        height: 39px;
        border-radius: 8px !important;
        border: 2px solid rgb(102, 102, 102) !important;
        width: 100% !important;
      }
    }

    .calendar__head {
      background: #2c2c76;
    }
  }
}

div.best_offers {
  background-color: aliceblue;
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  text-align: center;

  .offer_items_flexbox {
    display: flex;
    justify-content: space-between;
  }
}

.overrideSearchButton {
  height: 40px;
  width: 100%;
}

.search-wrapper-row {
  height: 20px;
}

div.top_rated_hotels {
  clear: inherit;
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  text-align: left;
  width: 100%;

  .headline {
    padding-bottom: 30px;
  }
  .hotel_items_flexbox {
    display: flex;
    flex-wrap: wrap;
  }

  .hotel_card {
    margin: 20px;
    flex: 1 0 21%;
  }
}

.explore {
  height: 414px;
  background-color: #e6e6fa;
  .ellipse {
    margin-top: 152px;
  }
}

.exploreTitle {
  .title {
    padding-top: 94px;
    padding-left: 48px;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
  }
  .exploreBtn {
    margin-top: 92px;
    margin-left: 48px;
  }
}
.exploreCards {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically */
  margin-top: 35px;
  .explorecd {
    
  }
}
