.cardContainer {
  background: #F9F7F7;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 30px 50px;
  margin-top: 21px;
}

.mainContainer {
  margin: 50px 150px;
}

section {
  margin: 50px 0;
}

.card_with_checkbox {
  box-sizing: border-box;
  width: 266px;
  height: 50px;
  border: 1px solid #908F8F;
  border-radius: 5px;
  padding: 10px;
}

.image_uploader_container {
  width: 100%;
  box-sizing: border-box;
  border: 2px dashed #A9A6A6;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px;
}

.upload_button {
  background: #2C2C76;
  padding: 10px 40px;
  border-radius: 5px;
  color: #D9D9D9;
  font-family: 'Inter', serif;
  font-weight: 500;
  font-size: 16px;
  align-items: center;

}

.complete_registration_button {
  background: #2C2C76;
  padding: 10px 40px;
  border-radius: 5px;
  color: #D9D9D9;
  font-family: 'Inter', serif;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
}

.center_div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}