.title_1 {
  font-family: 'Inter', serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
}

.title_2 {
  font-family: 'Inter', serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 44px;
}

.title_3 {
  font-family: 'Inter', serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;

}

.title_4 {
  font-family: 'Inter', serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;

}

.subtext {
  font-family: 'Inter', serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 10px;
  color: #908F8F;
  margin-top: 0;
}

.image_name{
  font-family: 'Inter', serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.image_subtext {
  font-family: 'Inter', serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #908F8F;
  margin-top: 0;
}

.input_half {
  width: 530px;
  box-sizing: border-box;
  height: 50px;
  border-radius: 5px;
  background-color: #ffffff;
  border-color: #908F8F;
}

.input_full {
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  border-radius: 5px;
  //margin-top: 15px;
  background-color: #ffffff;
  border-color: #908F8F;
}



.dropdown_1 {
  height: 50px;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  background-color: #ffffff;
}

.dropdown_items{
  height: 35px;
  width: 50%;
  text-align: center;
  background-color: #ffffff;
  font-family: 'Inter', serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.bold-text {
  font-weight: 800;
}