.reg_navbar {
    background-color: #2C2C76;
    height: 100px;
    padding-left: 50px!important;
    padding-right: 50px!important;
    
    .help_button {
        color: #ffff!important;
        border-color: #fff;
        margin-left: auto;
        margin-right: 80px;
        width: 100px;   
    }

    .faq-text {
        color: #ffff!important;
    }
}